tags
CMakeCache.txt
out/
*.exe
*.cmake
Makefile
CMakeFiles/
.vscode/
*.a
*.swp
*.dll
*.exe
*.cfg
*.tga
Editor
data
unpacked_data
data-orig
1033
assets
ABLT
Tools
.codelite
*.session
*.log
*.lib
*.LIB
*.so
*.a
viewer
mc2
text_tool
.ycm_extra_conf.py
.ycm_extra_conf.pyc
*.ico
*.rc
vidcard.csv
*.s14
